<div class="modal" role="dialog" id="tipmodal" tabindex="-1"
     aria-describedby="modal-description3">
    <section class="modal__content" role="document" style="background-color: #39870c">
        <div class="modal__body" tabindex="0" lang="en-US">
            <div class="flex-center" style="height: 100%">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 style="color: white">Heeft u een tip voor ons ?</h3>
                    </div>
                    <div class="input input--horizontal">
                        <div>
                            <label class="input__label" for="description">{{ 'tip'|trans|capitalize }} </label>
                        </div>
                        <textarea required="" id="description" name="description" aria-describedby="hint_name" class="input__control input__control--text input__control--l"></textarea>
                    </div>


                    <div class="col-xs-12" style="padding-top: 20px;">
                        <button class="modal__close-button btn btn--primary" style="background-color: #39870c; border-radius: 25px; padding: 25px 50px;
  border: 2px solid #FFF; color: #fff;">Deze melding sluiten
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
