<div class="col-md-4 col-sm-12">
    <div class="content-background background--secondary" >
        <div class="content">
            scan qr code
        </div><!-- /.content -->
    </div><!-- /.content-background -->
</div><!-- /.col -->
<div class="col-md-4 col-sm-12">
    <div class="content-background background--secondary" >
        <div class="content">
            Geeft een checkin code op
        </div><!-- /.content -->
    </div><!-- /.content-background -->
</div><!-- /.col -->
<div class="col-md-4">
    <div class="content-background background--secondary" >
        <div class="content">
            Selecteer een locatie
        </div><!-- /.content -->
    </div><!-- /.content-background -->
</div><!-- /.col -->
