{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% if resource.organization is defined and resource.organization is not empty %}
    {% set organization = commonground_resource(resource.organization) %}
{% endif %}

{% block style %}
    <style>

        @media (max-width: 555px) {
            body {
                position: fixed;
                width: 100%;
            }
        }

        .checkinFont {
            color: #01689b;
        }

        .background {
            background-color: white;
        }

        {% if organization.style.css is defined and organization.style.css is not empty %}
        {{ organization.style.css|raw }}
        {% endif %}
    </style>
{% endblock %}

{% block container %}
<div class="container background" style="background-size: 300px; width: 100%; max-width: 100%;">
    <form action="{{ path('app_chin_login',{"code":code}) }}" method="post">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="padding: 0;">
                <div class="" style="height: calc(100vh - 38px); text-align: center; display: flex; flex-direction: column; justify-content: space-evenly">
                    <div class="row">
                        {% include 'chin/widgets/checkin_widget_organizationinfo.html.twig' %}
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
                        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 " style="margin-bottom: 15px;">
                            <div style="width: 100%; background-color: white; border-radius: 20px; padding-top: 20px; padding-bottom: 5px;">
                                {% include 'chin/widgets/checkin_widget_nodeinfo.html.twig' %}

                                <span style="color: black">Aanmelden met</span>
                                {% if resource.methods is defined and resource.methods is not empty %}
                                    {% if resource.methods['idin'] is defined and resource.methods['idin'] %}
                                        <div style="margin-top: 5px; padding: 0 10px;">
                                            <button name="method" value="idin" style="width: 100%; background-color: #01689B; border: 0; color: white; border-radius: 20px;"><h2 style="margin-top: 4px;">Idin</h2></button>
                                        </div>
                                    {% endif %}
                                    {% if resource.methods['facebook'] is defined and resource.methods['facebook'] %}
                                        <div style="margin-top: 5px; padding: 0 10px;">
                                            <button name="method" value="facebook" style="width: 100%; background-color: #01689B; border: 0; color: white; border-radius: 20px;"><h2 style="margin-top: 4px;">Facebook</h2></button>
                                        </div>
                                    {% endif %}
                                    {% if resource.methods['google'] is defined and resource.methods['google'] %}
                                        <div style="margin-top: 5px; padding: 0 10px;">
                                            <button name="method" value="google" style="width: 100%; background-color: #01689B; border: 0; color: white; border-radius: 20px;"><h2 style="margin-top: 4px;">Google</h2></button>
                                        </div>
                                    {% endif %}
                                    <div style="margin-top: 5px; padding: 0 10px;">
                                        <button name="method" value="acount" style="width: 100%; background-color: #01689B; border: 0; color: white; border-radius: 20px;"><h2 style="margin-top: 4px;">Email</h2></button>
                                    </div>
                                {% else %}
                                    <div style="margin-top: 5px; padding: 0 10px;">
                                        <button name="method" value="acount" style="width: 100%; background-color: #01689B; border: 0; color: white; border-radius: 20px;"><h2 style="margin-top: 4px;">Email</h2></button>
                                    </div>
                                {% endif %}
                                <div class="input" style="margin-top: 5px; margin-bottom: 5px; padding: 0 10px;">
                                    <div class="input__group input__group--checkbox">
                                        <input checked name="hobbies[]" type="checkbox" id="chkbx1"
                                               class="input__control input__control--m input__control--checkbox" required>
                                        <label style="line-height: 14px; color: black;" class="input__label input__label--checkbox" for="chkbx1">
                                            Gebruikersaccount aanmaken zodat ik mijn gegevens kan inzien
                                            </label>
                                    </div>
                                    <div class="input__group input__group--checkbox">
                                        <input name="hobbies[]" type="checkbox" id="chkbx2"
                                               class="input__control input__control--m input__control--checkbox" required="">
                                        <label style="line-height: 14px; color: black;" class="input__label input__label--checkbox" for="chkbx2">Ik ga akkoord met de <a
                                                href="/proclaimer" target="_blank">proclaimer</a> en de <a href="/privacy"
                                                                                                           target="_blank">privacy</a>
                                            regels</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                    <div class="row">
                        {% include 'chin/widgets/checkin_widget_social.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div><!-- /.container -->
{% endblock %}
