{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-sm-12" style="background:#fff;padding-bottom: 10px;">
        <div class="content">
            <div class="input">
                <label class="input__hint" for="naam">Naam </label>
                <input type="text" id="naam" name="naam" class="input__control input__control--m input__control--text">
            </div>

            <div class="input">
                <button type="submit" class="btn">registreren <i class="icon icon-arr-forward"></i></button>
            </div>
        </div><!-- /.content -->
    </div><!-- /.col -->
{% endblock %}
