{% extends "content.html.twig" %}

{% block content %}

<section class="row">
    <div class="col-md-12">
        <div class="content">
        <header class="content__header">
            <h1 class="content__header-title">{{ 'events'|trans|capitalize }}</h1>
        </header>
        </div><!-- ./content -->
    </div><!-- ./col -->
</section>

    <div class="row">
        <aside class="col-xl-4 col-lg-4 col-md-4 col-sm-modal">
            <nav class="sidenav">
                {% include 'uc/widgets/menu.html.twig' %}
            </nav>
        </aside>

        <div class="col-xl-8 col-lg-8 col-md-8">
            {% include 'arc/widgets/event_table.html.twig' %}
        </div>
    </div>
{% endblock %}
